*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore

# Bu kural APK dosyasının git tarafından takip edilmesini ve GitHub'a yüklenmesini sağlar
!/output/
!/output/KAYRASQL_SYSTEM.apk
!/output/KAYRASQL_SYSTEM_APK.zip
!/output/KAYRASQL_SYSTEM.bin


